<!DOCTYPE html>
<html lang="en">
<head>
    {{>headerlinks}}
</head>
<body>
    {{>navbar}}
    <!-- main_header -->

    <div class="container-fluid main_header">
        <div class="row">
            <!-- main_header_left -->
            <div class="col-md-6 col-12 main_header_right">
                <figure class="profile-pic">
                    <img src="images/Himanshu_pic.jpg" alt="profile-pic"/>
                </figure>
            </div>

            <!-- main_header_right -->
            <div class="col-md-6 col-12 main_header_left">
                <p>Hey, I am Himanshu Aggarwal</p>
                <h1>I am <span class="txt-deco">Fullstack </span>Web Developer</h1>
                <a href="https://www.linkedin.com/in/himanshu-aggarwal-8093201b7/"><button class="profile-btn">Linked In</button></a>
            </div>
        </div>
    </div>

   {{>footer}}

</body>
</html>